## Análise de dados da empresa LinguaLab

### Introdução

A empresa LinguaLab

In [43]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Estruturação para vizualização correta do dataFrame

In [44]:
df_LinguaLab = pd.read_excel("base_cliente.xlsx", header=None)


df_LinguaLab = df_LinguaLab[0].str.split(",", expand=True)


df_LinguaLab.columns = df_LinguaLab.iloc[0]
df_LinguaLab = df_LinguaLab.drop(0).reset_index(drop=True)


df_LinguaLab.head(15)

,ID_Cliente,Motivo,Education,Cidade,Renda_anual,Aulas,NPS,Num_Aulas,Ano_de_nascimento,Banheiros_na_casa,Quartos_na_casa
0,0,Viagem,GraduaÃ§Ã£o,SÃ£o Paulo,58138.0,Ingles,4,19,1983,3.0,4.0
1,1,Trabalho,GraduaÃ§Ã£o,TaubatÃ©,46344.0,Espanhol,4,10,1980,4.0,3.0
2,2,Estudos,graduacao,SÃ£o Bernardo,71613.0,Ingles,3,59,1991,4.0,5.0
3,3,Viagem,graduacao,SÃ£o Paulo,,Espanhol,4,22,2010,1,1.0
4,4,Trabalho,Doutorado,SÃ£o Paulo,58293.0,Ingres,3,8,2007,3.0,4.0
5,5,Trabalho,Mestrado,SÃ£o Paulo,,Espanhol,3,9,1993,4.0,4.0
6,6,Viagem,GraduaÃ§Ã£o,SÃ£o Paulo,55635.0,Espanhol,4,12,1997,2.0,4.0
7,7,Estudos,Doutorado,Campinas,33454.0,Ingres,3,45,2011,2.0,2.0
8,8,Trabalho,Doutorado,SÃ£o Paulo,30351.0,Ingles,4,45,2000,1,2.0
9,9,Trabalho,Doutorado,SÃ£o Bernardo,5648.0,Ingres,5,12,1976,1,1.0
10,10,Estudos,GraduaÃ§Ã£o,SÃ£o Paulo,52247.25135379061,Ingles,4,29,2009,3.0,1.0
11,11,Viagem,Ensino Fundamental,TaubatÃ©,7500.0,Espanhol,4,10,2002,2.0,1.0
12,12,Estudos,graduacao,SÃ£o Bernardo,63033.0,Ingres,3,44,1985,4.0,5.0
13,13,Trabalho,Mestrado,SÃ£o Paulo,59354.0,Espanhol,1,4,1978,4.0,4.0
14,14,Estudos,GraduaÃ§Ã£o,SÃ£o Paulo,17323.0,Espanhol,4,16,2013,1,1.0

## Identificação dos problemas

In [45]:
df_LinguaLab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_Cliente         2240 non-null   object
 1   Motivo             2240 non-null   object
 2   Education          2240 non-null   object
 3   Cidade             2240 non-null   object
 4   Renda_anual        2240 non-null   object
 5   Aulas              2240 non-null   object
 6   NPS                2240 non-null   object
 7   Num_Aulas          2240 non-null   object
 8   Ano_de_nascimento  2240 non-null   object
 9   Banheiros_na_casa  2240 non-null   object
 10  Quartos_na_casa    2240 non-null   object
dtypes: object(11)
memory usage: 192.6+ KB

In [46]:
colunas_numericas = [
    "ID_Cliente",
    "Renda_anual",
    "NPS",
    "Num_Aulas",
    "Ano_de_nascimento",
    "Banheiros_na_casa",
    "Quartos_na_casa"
]

colunas_categoricas = [
    "Motivo",
    "Education",
    "Cidade",
    "Aulas"
]

In [47]:
df_LinguaLab[colunas_categoricas] = df_LinguaLab[colunas_categoricas].replace("", np.nan)
df_LinguaLab[colunas_categoricas] = df_LinguaLab[colunas_categoricas].astype('category')

Transforma as categorias de objetos em numéricos, além de converter valores inválidos em NaN

In [48]:
df_LinguaLab[colunas_numericas] = df_LinguaLab[colunas_numericas].apply(pd.to_numeric, errors='coerce')

In [49]:
df_LinguaLab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_Cliente         2240 non-null   int64
 1   Motivo             2128 non-null   category
 2   Education          2240 non-null   category
 3   Cidade             2240 non-null   category
 4   Renda_anual        1901 non-null   float64
 5   Aulas              2240 non-null   category
 6   NPS                2240 non-null   int64
 7   Num_Aulas          2240 non-null   int64
 8   Ano_de_nascimento  2240 non-null   int64
 9   Banheiros_na_casa  2240 non-null   float64
 10  Quartos_na_casa    2240 non-null   float64
dtypes: category(4), float64(3), int64(4)
memory usage: 132.1 KB

## Identificação de valores nulos

In [50]:
quantidade_nans = df_LinguaLab.isna().sum()
print(quantidade_nans)

0
ID_Cliente             0
Motivo               112
Education              0
Cidade                 0
Renda_anual          339
Aulas                  0
NPS                    0
Num_Aulas              0
Ano_de_nascimento      0
Banheiros_na_casa      0
Quartos_na_casa        0
dtype: int64

In [51]:
for coluna in df_LinguaLab.select_dtypes(include="category").columns:
    print(f"Valores únicos da coluna '{coluna}':")
    print(df_LinguaLab[coluna].unique())
    print('-' * 50)

Valores únicos da coluna 'Motivo':
['Viagem', 'Trabalho', 'Estudos', NaN]
Categories (3, object): ['Estudos', 'Trabalho', 'Viagem']
--------------------------------------------------
Valores únicos da coluna 'Education':
['GraduaÃ§Ã£o', 'graduacao', 'Doutorado', 'Mestrado', 'Ensino Fundamental', 'Ensino MÃ©dio']
Categories (6, object): ['Doutorado', 'Ensino Fundamental', 'Ensino MÃ©dio', 'GraduaÃ§Ã£o', 'Mestrado', 'graduacao']
--------------------------------------------------
Valores únicos da coluna 'Cidade':
['SÃ£o Paulo', 'TaubatÃ©', 'SÃ£o Bernardo', 'Campinas', 'Rio Branco']
Categories (5, object): ['Campinas', 'Rio Branco', 'SÃ£o Bernardo', 'SÃ£o Paulo', 'TaubatÃ©']
--------------------------------------------------
Valores únicos da coluna 'Aulas':
['Ingles', 'Espanhol', 'Ingres', 'Mandarim', 'Espanhol e Ingles']
Categories (5, object): ['Espanhol', 'Espanhol e Ingles', 'Ingles', 'Ingres', 'Mandarim']
--------------------------------------------------

### Tratamento das variaveis categoricas

In [52]:
# Padronizar strings antes de converter para categoria
df_LinguaLab["Education"] = df_LinguaLab["Education"].replace({
    "GraduaÃ§Ã£o": "Graduação",
    "graduacao": "Graduação",
    "Ensino MÃ©dio": "Ensino Médio"
})

df_LinguaLab["Cidade"] = df_LinguaLab["Cidade"].replace({
    "SÃ£o Paulo": "São Paulo",
    "TaubatÃ©": "Taubaté",
    "SÃ£o Bernardo": "São Bernardo"
})

df_LinguaLab["Aulas"] = df_LinguaLab["Aulas"].replace({
    "Ingres": "Inglês",
    "Ingles": "Inglês",
    "Espanhol e Ingles": "Espanhol e Inglês"
})

C:\Users\pedro\AppData\Local\Temp\ipykernel_42532\1410385680.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_LinguaLab["Education"] = df_LinguaLab["Education"].replace({
C:\Users\pedro\AppData\Local\Temp\ipykernel_42532\1410385680.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_LinguaLab["Cidade"] = df_LinguaLab["Cidade"].replace({
C:\Users\pedro\AppData\Local\Temp\ipykernel_42532\1410385680.py:14: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_LinguaLab["Aulas"] = df_LinguaLab["Aulas"].replace({

In [54]:
moda = df_LinguaLab["Motivo"].mode(dropna=True)[0]

df_LinguaLab["Motivo"] = df_LinguaLab["Motivo"].fillna(moda)

In [55]:
for coluna in df_LinguaLab.select_dtypes(include="category").columns:
    print(f"Valores únicos da coluna '{coluna}':")
    print(df_LinguaLab[coluna].value_counts())
    print('-' * 50)

Valores únicos da coluna 'Motivo':
Motivo
Trabalho    1008
Estudos      784
Viagem       448
Name: count, dtype: int64
--------------------------------------------------
Valores únicos da coluna 'Education':
Education
Graduação             1127
Doutorado              486
Mestrado               370
Ensino Médio           203
Ensino Fundamental      54
Name: count, dtype: int64
--------------------------------------------------
Valores únicos da coluna 'Cidade':
Cidade
São Paulo       1567
São Bernardo     326
Campinas         231
Taubaté           68
Rio Branco        48
Name: count, dtype: int64
--------------------------------------------------
Valores únicos da coluna 'Aulas':
Aulas
Inglês               1008
Espanhol              896
Espanhol e Inglês     224
Mandarim              112
Name: count, dtype: int64
--------------------------------------------------

### Tratamento das variaveis numéricas

In [57]:
for coluna in colunas_numericas:
    print(f"Estatísticas da coluna '{coluna}':")
    print(df_LinguaLab[coluna].describe().round(3))
    print('-' * 50)

Estatísticas da coluna 'ID_Cliente':
count    2240.000
mean     1119.500
std       646.777
min         0.000
25%       559.750
50%      1119.500
75%      1679.250
max      2239.000
Name: ID_Cliente, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Renda_anual':
count      1901.000
mean      51920.873
std       21284.505
min        1730.000
25%       35340.000
50%       51717.000
75%       68316.000
max      162397.000
Name: Renda_anual, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'NPS':
count    2240.000
mean        2.836
std         1.201
min         1.000
25%         2.000
50%         3.000
75%         4.000
max         5.000
Name: NPS, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Num_Aulas':
count    2240.000
mean       20.305
std        19.819
min         1.000
25%         8.000
50%        14.000
75%        26.000
max        99.000
Name: Num_Aulas, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Ano_de_nascimento':
count    2240.000
mean     1994.806
std        11.984
min      1919.000
25%      1985.000
50%      1996.000
75%      2003.000
max      2022.000
Name: Ano_de_nascimento, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Banheiros_na_casa':
count    2240.000
mean        2.996
std         1.405
min         1.000
25%         2.000
50%         3.000
75%         4.000
max         5.000
Name: Banheiros_na_casa, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Quartos_na_casa':
count    2240.000
mean        3.473
std         1.719
min         1.000
25%         2.000
50%         3.000
75%         5.000
max         6.000
Name: Quartos_na_casa, dtype: float64
--------------------------------------------------

In [58]:
medianas = df_LinguaLab.groupby(
    ["Banheiros_na_casa", "Quartos_na_casa"]
)["Renda_anual"].median()


def preencher_renda(row):
    if pd.isna(row["Renda_anual"]): 
        return medianas.loc[(row["Banheiros_na_casa"], row["Quartos_na_casa"])]
    return row["Renda_anual"]

df_LinguaLab["Renda_anual"] = df_LinguaLab.apply(preencher_renda, axis=1)

In [59]:
for coluna in colunas_numericas:
    print(f"Estatísticas da coluna '{coluna}':")
    print(df_LinguaLab[coluna].describe().round(3))
    print('-' * 50)

Estatísticas da coluna 'ID_Cliente':
count    2240.000
mean     1119.500
std       646.777
min         0.000
25%       559.750
50%      1119.500
75%      1679.250
max      2239.000
Name: ID_Cliente, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Renda_anual':
count      2240.000
mean      51897.869
std       21076.030
min        1730.000
25%       35700.000
50%       51789.500
75%       67897.500
max      162397.000
Name: Renda_anual, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'NPS':
count    2240.000
mean        2.836
std         1.201
min         1.000
25%         2.000
50%         3.000
75%         4.000
max         5.000
Name: NPS, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Num_Aulas':
count    2240.000
mean       20.305
std        19.819
min         1.000
25%         8.000
50%        14.000
75%        26.000
max        99.000
Name: Num_Aulas, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Ano_de_nascimento':
count    2240.000
mean     1994.806
std        11.984
min      1919.000
25%      1985.000
50%      1996.000
75%      2003.000
max      2022.000
Name: Ano_de_nascimento, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Banheiros_na_casa':
count    2240.000
mean        2.996
std         1.405
min         1.000
25%         2.000
50%         3.000
75%         4.000
max         5.000
Name: Banheiros_na_casa, dtype: float64
--------------------------------------------------
Estatísticas da coluna 'Quartos_na_casa':
count    2240.000
mean        3.473
std         1.719
min         1.000
25%         2.000
50%         3.000
75%         5.000
max         6.000
Name: Quartos_na_casa, dtype: float64
--------------------------------------------------